* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	// overflow-x: hidden;
}

*::-webkit-scrollbar {
	display: none;
}

a,
button,
h1,
h2,
h3,
h4 {
	color: rgb(40, 40, 40);
}

nav {
	position: fixed;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20%;
	min-height: 7.5vh;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	z-index: 10;

	a {
		text-decoration: none;
		color: black;
		font-size: 0.9rem;
	}
}

.nav-links {
	a {
		margin-left: 2rem;
	}

	button {
		margin-left: 2rem;
	}
}

.logo {
	font-size: 1rem;
	font-weight: bold;
}

.buy-button {
	padding: 0.2rem 2rem;
	font-size: 0.6rem;
	background: #3056f5;
	color: white;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
}

.first-page {
	min-height: 100vh;
	padding: 0 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.first-page-text {
	z-index: 2;
	text-align: center;
	padding-bottom: 10rem;
	height: auto;
}
.first-page-title {
	font-size: 1.5rem;
}
.first-page-subtitle {
	font-size: 2.8rem;
}

.intro-video {
	position: absolute;
	width: 100vw;
}

//second page css
.second-page {
	min-height: 125vh;
	color: rgba(255, 255, 255, 0.6);
	display: flex;
	flex-direction: column;
	position: relative;
}

.smoke-video {
	position: absolute;
	height: 100%;
	width: 100vw;
	object-fit: cover;
	z-index: 1;
}

.second-text {
	padding: 5% 30%;
	position: relative;
	z-index: 2;
	font-size: 3rem;
	font-weight: bold;
}

//page 3
.third-page {
	position: relative;
	padding: 0% 20%;
}

.product-text-container {
	display: flex;
	justify-content: space-around;
	min-height: 100vh;
	align-items: center;
	background: white;
}

.phone-size {
	font-size: 2rem;
	font-weight: bold;
}

.pro-size {
	text-align: right;
}

.max-size {
	text-align: left;
}

.product-images {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.large-phone {
	position: relative;
	transform: translateX(40%) scale(0.8);
	z-index: 1;
}

.small-phone {
	position: relative;
	transform: translateX(-40%) scale(0.8);
	z-index: 2;
}

.retina-line {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, -15%);
	font-size: 0.8rem;
	font-weight: bold;
}

//fourth page
.fourth-page {
	min-height: 100vh;
	display: flex;
	position: relative;
}

.purchase-left {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	flex: 1;
	background: white;
}

.phone-gallery {
	display: flex;
	align-self: flex-start;

	img {
		transform: scale(0.8);
	}
}

.phone-gallery-container {
	min-width: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swatch-container {
	text-align: center;
	span {
		font-size: 0.8rem;
	}
}

.swatches {
	img {
		padding: 0.5rem 0.3rem;
		cursor: pointer;
	}
}

.purchase-right {
	flex: 1;
	// width: 50vw;
	position: relative;
	background: black;

	img {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform-origin: bottom;
		transform: translate(-50%, 0%) scale(0.8);
	}
}

.blue {
	z-index: 1;
}
//fifth-page
.fifth-page {
	position: relative;
	min-height: 100vh;

}

.product-video {
	position: absolute;
	height: 100vh;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}

.product-info-container {
	z-index: 2;
	position: relative;
	align-items: center;
	color: white;
	display: flex;
	min-height: 100vh;
	justify-content: space-between;
	padding: 0% 10rem;
}

.right-info, .left-info {
	width: 20%;

	h3{
		padding: 3rem 0;
		color: rgb(193,193,193);
	}

	span {
		font-size: 1.5rem;
		color: rgb(209, 209, 209);
	}
}

//6th page
.sixth-page {
	min-height: 100vh;
	padding: 10% 20%;
	position: relative;
	display: flex;
	justify-content: space-between;

}

.portrait {
	height: 70vh;
}

.photo-title {
	font-size: 2rem;
}

.photo-subtitle {
	font-size: 3rem;
	width: 70%;
}

.phone-video {
	position: absolute;
	bottom: 0;
	left: 40%;
	transform: translate(-40%,0%);
	z-index: 2;

	img, video {
		position: absolute;
		transform: scale(0.7);
	}

	img {
		z-index: 2;
		bottom: 0;
		left: 0;
	}

	video {
		left: 1rem;
		bottom: 1rem;
		border-radius: 1.5rem;
	}
}

